<div class="container">
  <h1>Profile</h1>

  <%= gravatar_for @user %>
  <p>
    <strong>username:
    </strong><%= @user.username %></p>
  <p>
    <strong>email:
    </strong><%= @user.email %>
  </p>

  <%= link_to "Edit Profile", edit_user_path, class: "btn btn-info" %>

  <hr>

  <h3>Articles</h3>

  <%= render 'articles/article', articles: @user.articles %>



  <%= link_to "Back", users_path, class: "btn btn-info" %>

</div>
