<div class="container">
  <h1>Profile</h1>

  <%= gravatar_for @user %>
  <p>
    <strong>username:
    </strong><%= @user.username %></p>
  <p>
    <strong>email:
    </strong><%= @user.email %>
  </p>

  <% if logged_in? && @user == current_user %>
    <%= link_to "Edit Profile", edit_user_path, class: "btn btn-info" %>
  <% end %>

  <hr>

  <h3>Articles</h3>

  <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>

  <%= render 'articles/article', articles: @articles %>

  <%= link_to "Back", users_path, class: "btn btn-info" %>

</div>
